In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Green'],
    'Size': ['Small', 'Large', 'Medium', 'Medium', 'Small'],
    'Shape': ['Circle', 'Square', 'Triangle', 'Square', 'Circle']
})

In [3]:
one_hot_encoded_data = pd.get_dummies(data)

In [4]:
print(one_hot_encoded_data)

   Color_Blue  Color_Green  Color_Red  Size_Large  Size_Medium  Size_Small  \
0           0            0          1           0            0           1
1           1            0          0           1            0           0
2           0            1          0           0            1           0
3           0            0          1           0            1           0
4           0            1          0           0            0           1

   Shape_Circle  Shape_Square  Shape_Triangle
0             1             0               0
1             0             1               0
2             0             0               1
3             0             1               0
4             1             0               0